<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Empleado</title>
    <!-- Importar Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	
	 <div class="container">
        <h1>Editar Empleado</h1>
        <form method="post" th:action="@{/registers/edit/{id}(id=${empleado.id})}" th:object="${empleado}">
            <div class="form-group">
                <label for="idEmployee">ID Empleado:</label>
                <input type="text" class="form-control" id="idEmployee" th:field="*{idEmployee}">
            </div>
            <div class="form-group">
                <label for="branch">Sucursal ID (1 - 2 - 3):</label>
                <input type="text" class="form-control" id="branch" th:field="*{branch}">
            </div>
            <div class="form-group">
                <label for="descriptionFilter">Nombre:</label>
                <input type="text" class="form-control" id="descriptionFilter" th:field="*{descriptionFilter}">
            </div>
     		  <div class="form-group">
	 
            <div class="form-group">
                <label for="registerType">Tipo de Registro:</label>
                <input type="text" class="form-control" id="registerType" th:field="*{registerType}">
            </div>
   			 <div class="form-group">
                <label for="date">Fecha de Registro:</label>
                <input type="date" class="form-control" id="date" th:field="*{date}">
            </div>
   			
    
          	<div class="form-group">
                <label for="gender">Genero:</label>
                <input type="text" class="form-control" id="gender" th:field="*{gender}">
            </div>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>
    </div>
    
    

    <!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Importar Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
